@model ToLIBRAS.Areas.Seguranca.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="retangulo_img">
    <section class="container">
        <!-- ALTERAÇÕES: "w-50 mx-auto" -->
        <div id="registrotolib" class="row py-3 w-75 mx-auto registrosection">
            <label id="título" class="col-12 text-center pb-3" for="registro_retangulo">Login</label>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "d-flex justify-content-center flex-column col-12", @id = "registro_retangulo" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-row justify-content-center">
                    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
                    {
                        <div class="alert alert-danger alert-dismissable">
                            @Html.ValidationSummary(false, "Verifique os seguintes erros:")
                        </div>
                    }
                    <div class="form-group col-md-4 mr-5">
                        @Html.LabelFor(model => model.Nome, "Nome de usuário", htmlAttributes: new { @class = "formregistro" })
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control arearevisao" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-4 mr-5" id="abc">
                        @Html.LabelFor(model => model.Senha, "Senha", htmlAttributes: new { @class = "formregistro" })
                        @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control arearevisao", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ActionLink("Eu não tenho conta", "Registro", "Account")
                <div class="form-row justify-content-end">
                    <button type="submit" id="registre" class="btn btn-light border border-dark mr-5">Logar</button>
                </div>
            }
        </div>
    </section>

