@using ToLIBRAS.Infraestrutura
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/img/favicon.png" type="image/png">
    <title>ToLIBRAS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/Content/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Content/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="@{
                            if (Html.GetAuthenticatedUser().ToString() != "") {
                                @Url.Action("Atividades", "Admin");
                            }
                            else {
                                @Url.Action("Index", "Admin");
                            }
                    }"><img id="logo" src="~/Content/img/logo.png" alt="" cap></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#quemsomos">Quem Somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="@{
                                if (Html.GetAuthenticatedUser().ToString() != "") {
                                    @Url.Action("Atividades", "Admin");
                                }
                                else {
                                    @Url.Action("Login", "Account"); 
                                }
                            }">Atividades</a></li>
                            <li class="nav-item"><a class="nav-link" href="@{
                                if (Html.GetAuthenticatedUser().ToString() != "") {
                                    @Url.Action("Revisão", "Admin");
                                }
                                else {
                                    @Url.Action("Login", "Account"); 
                                }
                            }">Baralhos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#formcontato">Contato</a></li>
                            <li class="nav-item">
                                <button id="btn_form"><img id="userconta" src="~/Content/img/elements/user.png" width="45em"></button>
                                @{
                                    if (Html.GetAuthenticatedUser().ToString() != "")
                                    {
                                        <form id="my_form">
                                            <span>Olá, </span>
                                            @Html.GetAuthenticatedUser();
                                            @Html.ActionLink(" - Sair", "Logout", "Account")
                                            <br />
                                            <ul>
                                                <li>
                                                    @Html.ActionLink("Perfil", "Perfil", "Admin", new { area = "Seguranca", name = Html.GetAuthenticatedUser() }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Grupos", "Grupos", "Admin", new { area = "Seguranca", name = Html.GetAuthenticatedUser() }, null)
                                                </li>
                                            </ul>
                                        </form>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Clique aqui para logar", "Login", "Account", new { area = "Seguranca"}, null)
                                    }
                                }

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer id="newfooter" class="">
        <div class="d-flex justify-content-between">
            <div class="">
                <h4 id="footerh4">Contato:</h4>
                <nav id="menuu">
                    <ul id="redesocias">
                        <li><a href="#"><img src="~/Content/img/elements/email.png" id="redes"></a></li>
                        <li><a href="#"><img src="~/Content/img/elements/face.png" id="redes"></a></li>
                        <li><a href="#"><img src="~/Content/img/elements/insta.png" id="redes"></a></li>
                    </ul>
                </nav>
            </div>
            <section id="formcontato" class="formulariosec">
                <article class="artigo">
                    <form id="formcontato" class="formulario" method="POST" action="processacont.php">
                        <input type="hidden" name="operacao" value="incluir">
                        <div class="form-row">
                            <div class="form-group h-50">
                                <label id="formfooter" for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" size="35" class="txtarea form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label id="formfooter2" for="email">E-mail</label>
                                <input type="email" name="email" id="email" size="35" class="txtarea form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label id="formfooter3" for="textarea">Mensagem</label>
                                <textarea name="solicitacao" id="textarea" class="form-control" cols="36" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-row justify-content-end">
                            <input id="enviarform" type="submit" class="btn" name="enviar" value="Enviar">
                        </div>
                    </form>
                </article>
            </section>
            <div class="">
                <figure>
                    <img id="linefooter" src="~/Content/img/line.png">
                </figure>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex align-items-center">
                    <figure class="float-left">
                        <img id="imgfooter" src="~/Content/img/imgrodape.png">
                    </figure>

                    <h5 id="slogan">ToLIBRAS, qualidade e</br> inclusão num lugar só</h5>
                </div>

                <h5 id="desenv" class="pt-4">Desenvolvido por:  Arthur de Melo, Christian Cauã,</br>  Danilo Fechine, João Victor Saraiva e Lanay Fernandes.</h5>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <script type="text/javascript">
        var btn = document.getElementById('btn_form');
        var form = document.getElementById('my_form');

        btn.addEventListener('click', function () {
            if (form.style.display != 'block') {
                form.style.display = 'block';
                return;
            }
            form.style.display = 'none';
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="@Url.Content("~/Content/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/popper.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/stellar.js")"></script>
    <script src="@Url.Content("~/Content/js/countdown.js")"></script>
    <script src="@Url.Content("~/Content/vendors/nice-select/js/jquery.nice-select.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/js/owl-carousel-thumb.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/counter-up/jquery.counterup.js")"></script>
    <script src="@Url.Content("~/Content/js/mail-script.js")"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="@Url.Content("~/Content/js/gmaps.min.js")"></script>
    <script src="@Url.Content("~/Content/js/theme.js")"></script>
    @RenderSection("ScriptPage", false);
</body>
</html>