@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!--================ End Header Menu Area =================-->
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area" id="bannerdarevisao">
        <div class="container">
            <div class="row">
                <div class="banner_content">
                    <h4 id="revisaoh4">Exercícios de revisão:</h4>
                    <div id="direitaelem">
                        <select id="categ" name="listanec" form="nec">
                            <option id="categ" value="volvo">Mais Acessados</option>
                            <option value="saab">Necessidade de Revisão</option>
                            <option value="opel">Maior difculdade</option>
                            <option value="audi">Menor dificuldade</option>
                        </select>
                        <div id="divBusca">
                            <input type="text" id="txtBusca" placeholder="Buscar..." />
                            <a href="@Url.Action("Index")"><img src="~/Content/img/elements/search.png" id="btnBusca" alt="Buscar" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="linha1revisao">
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/saudacoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Saudações</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/frutas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Frutas</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/animais.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Animais</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/roupas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Roupas</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/objetos.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Objetos</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="ultelemlinha">
                    <img src="~/Content/img/revisao/refeicoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Refeições</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
            </div>

            <div id="linha2revisao">
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/saudacoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Saudações</figcaption>
                    <a id="primeibot" href="@Url.Action("Index")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/frutas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Frutas</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/animais.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Animais</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/roupas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Roupas</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/objetos.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Objetos</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="ultelemlinha">
                    <img src="~/Content/img/revisao/refeicoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Refeições</figcaption>
                    <a id="primeibot" href="@Url.Action("Revisão")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
            </div>
            <div id="linha2revisao">
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/saudacoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Saudações</figcaption>
                    <a id="primeibot" href="@Url.Action("Index")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/frutas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Frutas</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/animais.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Animais</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/roupas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Roupas</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/objetos.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Objetos</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="ultelemlinha">
                    <img src="~/Content/img/revisao/refeicoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Refeições</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
            </div>
            <div id="linha2revisao">
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/saudacoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Saudações</figcaption>
                    <a id="primeibot" href="@Url.Action("Index")">
                        <button type="submit" id="primeibot">Iniciar</button>
                    </a>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/frutas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Frutas</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/animais.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Animais</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/roupas.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Roupas</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="elemlinha1">
                    <img src="~/Content/img/revisao/objetos.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Objetos</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
                <div id="ultelemlinha">
                    <img src="~/Content/img/revisao/refeicoes.png" id="revisao" width="50%">
                    <figcaption id="figcaprev">Refeições</figcaption>
                    <button type="submit" id="primeibot">Iniciar</button>
                </div>
            </div>
            <!-- <div id="linhabotoes1">
                <button type="submit" id="primeibot" >Iniciar</button>
                <button type="submit" id="botaoinic" >Iniciar</button>
                <button type="submit" id="botaoinic" >Iniciar</button>
                <button type="submit" id="botaoinic" >Iniciar</button>
                <button type="submit" id="botaoinic" >Iniciar</button>
                <button type="submit" id="ultimobot" >Iniciar</button>
            </div> -->
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->