@model ToLIBRAS.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil1</title>
</head>
<body>
    <section class="home_banner_area" id="bannerdouser">
        <div class="container">
            <div class="row">
                <div class="banner_content">
                    <h4 id="revisaoh4">Meu perfil:</h4>
                    <div id="divuser">
                        <div id="imguser">
                            <img id="userimg" src="~/Content/img/user/user.png">
                            <button id="editimg"><img id="imgdobotao" src="~/Content/img/user/edit.png"></button>
                        </div>
                        <h5 id="nomeuser">@Html.DisplayFor(model => model.username)</h5>
                        <input id="myButton" class="botaouser" type="submit" value="Editar meus dados"></input>
                        </br>
                        @Html.ActionLink("Excluir minha conta", "Delete", new { id = Model.id }, new {@class = "botaouser", @id = "botaodelet" })
                    </div>



                    <section id="formcontato" class="formuser">
                        <article class="artigo">
                            @using (Html.BeginForm("Editar", "Index", FormMethod.Post, new { @class = "formulario", @id = "formcontato" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                <input type="hidden" name="operacao" value="incluir">
                                <div class="form-row">
                                    <div class="form-groupp h-50">
                                        <label class="userr" for="nome">Nome do usuário</label>
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "txtareauser form-control", @id = "myInput1", @name = "nome", @size = "55" } })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-groupp">
                                        <label class="user" for="email">E-mail</label>
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "txtareauser form-control", @id = "myInput2", @name = "email", @size = "55", @type = "email" } })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-groupp">
                                        <label class="user" for="senha">Senha</label>
                                        @Html.EditorFor(model => model.pwser, new { htmlAttributes = new { @class = "txtareauser form-control", @id = "myInput4", @name = "senha", @size = "55", @type = "password" } })
                                    </div>
                                </div>
                                <div id="niveluser">
                                    <button id="botaoat" class="botaouser">Atualizar meus dados</button>
                                </div>
                            }
                        </article>
                    </section>
                </div>
                <!-- <div id="linhabotoes1">
                    <button type="submit" id="primeibot" >Iniciar</button>
                    <button type="submit" id="botaoinic" >Iniciar</button>
                    <button type="submit" id="botaoinic" >Iniciar</button>
                    <button type="submit" id="botaoinic" >Iniciar</button>
                    <button type="submit" id="botaoinic" >Iniciar</button>
                    <button type="submit" id="ultimobot" >Iniciar</button>
                </div> -->

    </section>
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="feature_area">
        <div class="container">
            <div class="row justify-content-end" id="quemsomos">
            </div>
        </div>
    </section>
</body>
</html>
