@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/img/favicon.png" type="image/png">
    <title>ToLIBRAS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/Content/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Content/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>

    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="@Url.Action("Index")"><img id="logo" src="~/Content/img/logo.png" alt="" cap></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#quemsomos">Quem Somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Atividades")">Atividades</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Revisão")">Baralhos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#formcontato">Contato</a></li>
                            <li class="nav-item">
                                <button id="btn_form"><img id="userconta" src="~/Content/img/elements/user.png" width="45em"></button>
                                <form id="my_form">
                                    <label id="loginn" for="email">E-mail</label>
                                    <input type="text" class="loginn" id="email" name="email" style="width: 10em" value="">
                                    <br>
                                    <label id="loginn" for="senha_cad">Senha</label>
                                    <input id="senha_cad" class="loginn" name="senha_cad" style="width: 7em" required="required" type="password" placeholder="ex. 1234" />
                                    <br>
                                    <a id="adicional" href="@Url.Action("Index")">Esqueceu sua senha?</a>
                                    <br>
                                    <a id="adicional" href="@Url.Action("Registro")">Cadastre-se</a>
                                    <br>
                                    <input id="enviarlogin" type="submit">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================ Start Home Banner Area =================-->
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="retangulos pt-5">
        <ol class="Brevisao">
            <li class="ret.esquerdo">
                <div class="revisaoB">
                    <h4 class="H4revisao">Baralho em Revisão no Momento:</h4>
                    <p class="Previsao">
                        Saudações <br />
                        Carta: 5/20
                    </p>
                </div>

                <div class="revisaoP">
                    <h4 class="H4revisao">Meu progresso de Revisão:</h4>
                    <p class="Previsao">
                        Último acesso: 2 dias atrás <br />
                        Necessidade de revisão: Alta
                    </p>
                </div>
            </li>

            <li class="linha.meio">
                <figure>
                    <img src="~/Content/img/linegray.png">
                </figure>
            </li>
            <li class="ret_direito">
                <h3 class="mb-5">Qual seu nível de dificuldade em relação a essa carta?</h3>
                <figure>
                    <img src="~/Content/img/persona01.png">
                </figure>
                <div class="mt-4 mb-5">
                    <div class="mb-3">
                        <button class="btn btn-primary tam_fix_button rounded-pill mr-4">Pular</button>
                        <button class="btn btn-secondary tam_fix_button rounded-pill">Fácil</button>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-success tam_fix_button rounded-pill mr-4">Médio</button>
                        <button class="btn btn-danger tam_fix_button rounded-pill">Difícil</button>
                    </div>
                </div>
            </li>
        </ol>
    </section>
    <!--================ End Fact Area =================-->
    <!--================ Start footer Area  =================-->
    <footer id="newfooter" class="">
        <div class="d-flex justify-content-between">
            <div class="">
                <h4 id="footerh4">Contato:</h4>
                <nav id="menuu">
                    <ul id="redesocias">
                        <li><a href="#"><img src="~/Content/img/elements/email.png" id="redes"></a></li>
                        <li><a href="#"><img src="~/Content/img/elements/face.png" id="redes"></a></li>
                        <li><a href="#"><img src="~/Content/img/elements/insta.png" id="redes"></a></li>
                    </ul>
                </nav>
            </div>
            <section id="formcontato" class="formulariosec">
                <article class="artigo">
                    <form id="formcontato" class="formulario" method="POST" action="processacont.php">
                        <input type="hidden" name="operacao" value="incluir">
                        <div class="form-row">
                            <div class="form-group h-50">
                                <label id="formfooter" for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" size="35" class="txtarea form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label id="formfooter2" for="email">E-mail</label>
                                <input type="text" name="email" id="email" size="35" class="txtarea form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label id="formfooter3" for="textarea">Mensagem</label>
                                <textarea name="solicitacao" id="textarea" class="form-control" cols="36" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-row justify-content-end">
                            <input id="enviarform" type="submit" class="btn" name="enviar" value="Enviar">
                        </div>
                    </form>
                </article>
            </section>
            <div class="">
                <figure>
                    <img id="linefooter" src="~/Content/img/line.png">
                </figure>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex align-items-center">
                    <figure class="float-left">
                        <img id="imgfooter" src="~/Content/img/imgrodape.png">
                    </figure>

                    <h5 id="slogan">ToLIBRAS, qualidade e</br> inclusão num lugar só</h5>
                </div>

                <h5 id="desenv" class="pt-4">Desenvolvido por:  Arthur de Melo, Christian Cauã,</br>  Danilo Fechine, João Victor Saraiva e Lanay Fernandes.</h5>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <script type="text/javascript">
			var btn = document.getElementById('btn_form');
			var form = document.getElementById('my_form');

			btn.addEventListener('click', function() {
			  if(form.style.display != 'block') {
			    form.style.display = 'block';
			    return;
			  }
			  form.style.display = 'none';
			});
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/countdown.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>
